* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto Mono", monospace;
  font-family: "Roboto Slab", serif;
}

header {
  display: flex;
  justify-content: space-evenly;
  height: 90px;
  align-items: center;
  font-size: 20px;
}

.logo {
  font-size: 40px;
}

.logo:hover {
  font-size: 45px;
  transition: 1.2s;
}

a {
  text-decoration: none;
}

nav li {
  list-style: none;
  padding-right: 40px;
  font-size: 20px;
}

nav ul {
  display: flex;
}

nav ul li a {
  /* text-decoration: none; */
  color: #7d7c7c;
}

nav li a:hover {
  border-bottom: 2px solid gray;
  transition: 0.8s;
  border-radius: 10%;
  color: red;
  font-size: bold;
}

.link1 {
  font-size: 10px;
}

main {
  height: 830px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* margin-top: ; */
}

.container {
  width: 600px;
  font-size: 25px;
  text-shadow: 5px 5px 10px gray;
}

.container:hover {
  font-size: 30px;
  transition: 0.6s;
}

.tks2 {
  font-size: 15px;
}

.spn1 {
  color: red;
}

.img1 {
  width: 750px;
  height: 600px;
}

.img1:hover {
  width: 820px;
  height: 670px;
  transition: 0.6s;
}

.fterskt {
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  margin-right: 20px;
  padding-right: 20px;
  height: 50px;
}

.af1:hover {
  font-size: 30px;
  transition: 0.6s;
  color: red;
}

.af2:hover {
  font-size: 30px;
  transition: 0.6s;
  color: red;
}

.af3:hover {
  font-size: 30px;
  transition: 0.6s;
  color: red;
}
